<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}{{ site.desc }}{% endif %}">
  <meta name="author" content="Zach Dyer Design">

  {% include favicon.html %}

  <title>{{ page.title }} - {{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.github.url }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.github.url }}/css/syntax.css" rel="stylesheet">

  {% if site.data.settings.nav == "fixed" %}
  <link href="{{ site.github.url }}/css/theme.css" rel="stylesheet">
  {% endif %}

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ site.github.url }}/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Custom styles for this template -->
  <link href="{{ site.github.url }}/css/carousel.css" rel="stylesheet">
  {% if page.css %}
  {% for css in page.css %}
  <link href="{{ site.github.url }}/css/{{ css }}" rel="stylesheet">
  {% endfor %}
  {% endif %}

  {% include scripts.html %}

  {% if page.scripts %}
  {% for script in page.scripts %}
  <script type="text/javascript" src="{{ site.github.url}}/js/{{ script }}"></script>
  {% endfor %}
  {% endif %}

</head>
